@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  font-family: "Josefin Sans", sans-serif;
}

p {
  color: var(--desaturated-red);
  line-height: 1.6;
  margin-bottom: 2.5rem;
  font-size: 1.05rem;
  max-width: 450px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1.4rem;
  font-size: 4rem;
  max-width: 400px;
  color: var(--dark-grayish-red);
  margin-bottom: 1.5rem;
  line-height: 1.04;
}
.main {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

article {
  width: 55vw;
  padding: 5rem 0 0 10rem;
  background: url("images/bg-pattern-desktop.svg") no-repeat;
  background-position: top 0 left 0;
  background-size: 100% 100%;
}

#logo {
  margin-bottom: 10.3rem;
}

article h1 span {
  color: var(--desaturated-red);
  font-weight: 300;
}

#hero {
  width: 45vw;
}

.entry {
  position: relative;
  width: 33vw;
}

#email {
  border: 1px solid hsla(0, 36%, 70%, 0.6);
  width: 33vw;
  border-radius: 2rem;
  padding: 1.2rem 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

#email::placeholder {
  color: hsla(0, 36%, 70%, 0.6);
}

.entry button {
  position: absolute;
  top: 0;
  right: -1px;
  height: 3.5rem;
  width: 6.5rem;
  border-radius: 2rem;
  border: 0;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

.entry button:hover {
  background: rgb(250, 204, 204);
  box-shadow: -7px 17px 50px 4px hsl(0, 36%, 70%);
  cursor: pointer;
}

.hidden {
  display: none;
}

.error {
  margin: 10px 0 0 2rem;
  color: var(--soft-red);
  font-size: 0.9rem;
}

.error::after {
  content: "";
  background-image: url("images/icon-error.svg");
  position: absolute;
  top: 0.85rem;
  right: 7rem;
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .error {
    position: absolute;
    top: 4rem;
  }

  .error::after {
    top: -3.7rem;
    right: 1.5rem;
  }

  .main {
    flex-direction: column-reverse;
  }

  #hero {
    width: 100vw;
    margin-bottom: 3rem;
    position: absolute;
    top: 7.5rem;
  }

  article {
    background: none;
    width: 100vw;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50vh;
  }

  #logo {
    position: absolute;
    top: -25rem;
    left: 3rem;
    margin-bottom: 0;
  }

  h1,
  p {
    max-width: 100vw;
  }

  p {
    font-size: 0.9rem;
    padding: 0 2rem;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
  }

  .entry {
    width: 100vw;
    display: flex;
    align-items: center;
  }

  #email {
    width: 80vw;
    margin: 0 auto;
  }

  .entry button {
    right: 2.4rem;
    width: 19%;
  }
}
